*
  margin: 0
  padding: 0

body
  width: 100vw
  heigh: 100vh

::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-track
  background: #f1f1f1
  border-radius: 10px

::-webkit-scrollbar-thumb
  background: #888
  border-radius: 10px

::-webkit-scrollbar-thumb:hover
  background: #555

// =======================================

@import 'page'
@import 'thanks'
