@import "page"


*
  margin: 0
  padding: 0

body
  box-sizing: border-box
  font-family: Anonymous Pro;

header
  display: flex
  align-items: center
  justify-content: space-between
  color: #fff
  padding: 10px 0

  .title
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    /* identical to box height */

    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    padding-left: 10px

  img
    width: 50px
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

footer
  width: 100%
  padding: 10px

  display: flex
  align-items: flex-end
  justify-content: space-between

  font-weight: 500
  font-size: 0.8em

  a
    height: 50px

  .page-counter
    display: flex
    align-items: center
    flex-direction: column

    span
      padding-top: 10px
      letter-spacing: 1.5px

  .page-control
    display: flex
    align-items: center
    flex-direction: column

    span
      padding-top: 10px
      letter-spacing: 2px
      text-transform: lowercase

// Classes
.inicio-page
  width: 100vw
  background-color: $dark

  .content
    height: calc(100vh - 27px);
    display: flex;
    align-items: center;
    flex-direction: column
    justify-content: center

  .logo
    width: 300px

.bold
  font-weight: 700

.divisor
  width: 100%
  height: 0px
  margin: 40px 0
  display: flex
  border: 1px solid #FFFFFF

.row-reverse
  flex-direction: row-reverse

// Components Classes
.container
  height: 100vh
  max-width: 1280px
  padding: 10px 4%

.spacer
  margin-right: 10px

.care-content
  display: flex
  align-items: center
  padding: 30px 0

  .care-image
    img
      max-width: 100px
      max-height: 100px
      border-radius: 50%

  .care-information
    margin: 0 5px
    p
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 140%;

// Obrigado page classes
.inicio-header
  display: flex
  align-items: center
  justify-content: space-between
  color: #fff

  img
    width: 20px

.obrigado-page
  color: #fff
  background-color: $dark

  .obrigado-header
    box-shadow: none
    position: static

  .obrigado-logo
    width: 100px

  .obrigado-content
    display: flex
    flex-direction: column
    text-align: center
    font-style: normal

    h2
      padding: 0
      font-weight: 500
      font-size: 2em
      line-height: 42px
      text-align: center
      margin: 30px 0 0 0
      letter-spacing: 0.0357143em
      text-transform: uppercase

    p
      margin: 20px 0
      font-weight: 300;
      font-size: 1.2em;
      line-height: 25px;
      text-align: center;
      text-indent: 2px;

    small
      font-size: 1em


  .action
    margin: 20px 0 50px 0

    a
      text-decoration: none

  .obrigado-footer
    position: relative
    font-weight: 300
    font-size: 0.8em
    padding: 20px 0 20px 0
    letter-spacing: 1.5px

    p
      margin: 0

    .redes-sociais
      display: flex
      flex-direction: column
      align-items: center
      justify-content: center
      width: 100%

      img
        width: 40px
        margin: 20px 10px

    .footer-info
      width: 100%
      text-align: center

  .obrigado-inicio
    margin: 50px 0
    text-decoration: underline

// Media queries
@media screen and (min-height: 650px)
  .obrigado-page
    .obrigado-footer
      left: 0
      bottom: 0
      position: absolute

// Quasar overwriten styles
.q-item
  padding: 0
