// Quasar overwriten styles
.q-item
  padding: 0

.page
  color: #FFFFFF
  font-family: Lora
  font-style: normal

  // Background class
  .bg-image
    position: absolute
    z-index: -1
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity : 0.5;

    background-size: cover
    background-position: right
    background-repeat: no-repeat

  .felipe-bg
    background-image: url('../assets/bg/felipe-bg.jpeg')

  .thaiane-bg
    background-image: url('../assets/bg/thaiane-bg.jpeg')

  .zeca-bg
    background-image: url('../assets/bg/zeca-bg.jpeg')
  // =====================

  .page-header
    display: flex
    align-items: center
    justify-content: space-between
    padding: 20px

    .title-header
      font-weight: bold;
      font-size: 30px;
      line-height: 38px;

    .klash-logo-header
      width: 47px;
      height: 51px;

  .main-content
    padding: 20px 4%
    height: 80vh
    max-width: 1280px
    overflow: scroll

    .content
      margin-right: 40px

      .title
        font-weight: bold;
        font-size: 22px;
        line-height: 28px;

      .description
        font-family: Merriweather;

        font-weight: 900;
        font-size: 18px;
        line-height: 200%;
        margin-bottom: 40px

  .page-footer
    width: 100%
    padding: 10px

    display: flex
    align-items: flex-end
    justify-content: space-between

    font-weight: 500
    font-size: 0.8em

    a
      height: 50px

    .page-counter
      display: flex
      align-items: center
      flex-direction: column

      span
        padding-top: 10px
        letter-spacing: 1.5px

    .page-control
      display: flex
      align-items: center
      flex-direction: column

      span
        padding-top: 10px
        letter-spacing: 2px
        text-transform: lowercase
